/* Desenvolvimento do rodapé */

.fotter {
    background-color: var(--dark);
    padding-top: 50px;
}

.fotter .fotter-box {
    height: 260px;
    max-width: 1100px;
    background-color: var(--dark);
    margin-left: auto;
    margin-right: auto;
    
    padding: 0px 75px 0px 75px;
}

.fotter .fotter-box .social {
    margin-bottom: 15px;
}

.fotter .fotter-box .opções {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.fotter .fotter-box .opções .bar {
    list-style-type: none;
}

.fotter .fotter-box .opções .bar .bar-li {
    margin-bottom: 10px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    cursor: pointer;
    transition: 0.5s ease all;
}

.fotter .fotter-box .opções .bar .bar-li:hover {
  text-decoration: underline;
  transition: 0.5s ease all;
}

.fotter .fotter-box .codigo {
    font-family: 'Roboto', sans-serif;
    padding: 6.5px;
    color: gray;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px gray;
    margin-bottom: 20px;
    cursor: pointer;
}

.fotter .fotter-box .codigo:hover {
    color: white;
}

.fotter .fotter-box p {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 12px;
}
