/* Desenvolvimento do Cabeçalho */

#header {
    width: 100vw;
    height: 68px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    background-color: red;
}

#header #head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 68px;
    background-color: blue;
    margin-left: 60px;
    margin-right: 60px;
}

#header #head .logo {
    width: 92.5px;
    height: 25px;
    margin-right: 25px;
    background-color: green;
}

#header #head .logo img {
    width: 92.5px;
    height: 25px;
    cursor: pointer;
}

#header #head .nav {
    width: 360px;
    height: 17px;
    background-color: blueviolet;
}

#header #head .nav .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header #head .nav .nav-bar li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    font-weight: 400;
}

#header #head .nav .nav-bar li a {
    color: var(--texto);
}

#header #head .nav .nav-bar li a:hover {
    color: var(--textoHover);
}

#header #head .user {
    width: 150px;
    height: 68px;
    margin-left: auto;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header #head .user .user-menu {
    width: 60px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header #head .user .user-menu img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
}

#header #head .user .user-menu .down-arrow {
    width: 15px;
    height: auto;
    transition: all 0.2s ease;
}

#header #head .user .user-menu:hover .down-arrow {
    transform: rotate(180deg);
}

/* Desenvolvimento do menu suspenso para usuários */

#header #head .user .user-menu .user-menu-box {
    position: absolute;
    top: 68px;
    right: 60px;
    width: 180px;
    height: 370px;
    z-index: 0;
    display: none;
}

#header #head .user .user-menu:hover .user-menu-box {
    display: block;
}

#header #head .user .user-menu .up-arrow {
    position: absolute;
    top: -12px;
    right: 30px;
    width: 22px;
    height: auto;
}

#header #head .user .user-menu .user-menu-profile {
    width: 180px;
    height: 230px;
    background-color: var(--darkTransparent);
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px gray;
}

#header #head .user .user-menu .user-menu-profile .edit {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#header #head .user .user-menu .user-menu-profile li{
    padding: 5px 0px;
    display: flex;
    align-items: center;
}

#header #head .user .user-menu .user-menu-profile li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    font-weight: 400;
    color: var(--texto);
    padding-left: 10px;
}

#header #head .user .user-menu .user-menu-profile li a:hover {
    text-decoration: underline;
}

#header #head .user .user-menu .user-menu-settings {
    width: 180px;
    height: 88px;
    background-color: var(--darkTransparent);
    position: absolute;
    top: 235px;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px gray;
}

#header #head .user .user-menu .user-menu-settings .user-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#header #head .user .user-menu .user-menu-settings .help-circle {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#header #head .user .user-menu .user-menu-settings li {
    padding: 5px 0px;
    display: flex;
    align-items: center;
}

#header #head .user .user-menu .user-menu-settings li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    font-weight: 400;
    color: var(--texto);
    padding-left: 10px;
}

#header #head .user .user-menu .user-menu-settings li a:hover {
    text-decoration: underline;
}

#header #head .user .user-menu .user-menu-exit {
    width: 180px;
    height: 47px;
    background-color: var(--darkTransparent);
    position: absolute;
    top: 323px;
    right: 0px;
    z-index: 1;
    display: flex;
    align-items: center;

}

#header #head .user .user-menu .user-menu-exit a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    font-weight: 400;
    color: var(--texto);
    padding-left: 10px;
}

#header #head .user .user-menu .user-menu-exit a:hover {
    text-decoration: underline;
}

/* Desenvolvimento do menu suspenso de alerta */

#header #head .user .alert .bell {
    cursor: pointer;
}

#header #head .user .alert .alert-menu-box {
    width: 400px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 68px;
    right: 140px;
}

#header #head .user .alert .alert-menu-box .up-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
}