/* Resete do documento */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Paleta de Cores */

:root {
    --texto: rgb(215, 217, 218);
}