/* Resete do documento */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Importação de fontes Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');