/* Criando variáveis */

:root {
    --red: rgb(215, 38, 45);
    --black: rgb(20, 20, 20);
    --text: rgb(229, 229, 229);
}

/* Resetando o CSS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

header {
    z-index: 2;
    display: flex;
    height: 68px;
    align-items: center;
    padding: 0 60px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    position: sticky;   
    top: 0;
    transition: 0.5s ease all;
}

header.active {
    z-index: 2;
    transition: 0.5s ease all;
    background-color: var(--black);
}

.background {
    background-image: url(../images/background-top-sombra.png);
    position: relative;
    top: -68px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
    display: flex;
}

img#logo-netflix {
    width: 92.5px;
    margin-right: 25px;
}

#menu-primario {
    display: flex;
    list-style-type: none;
    font-size: 14px;
}

.menu {
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    transition: 0.4s;
}
.menu:hover {
    color: #b3b3b3;
}

nav#menu-secundario {
    display: flex;
    align-items: center;
    margin-left: auto;   
}

header .fa-solid {
    margin-right: 20px;
}

.user {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: 5px;
    border-radius: 3px;
    text-decoration: none;
}

#info-background {
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    max-width: 500px;
    height: 500px;
}

h2.titulo {
    color: var(--text);
    margin: 20px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    font-weight: bold;
}

h3.descrição {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    font-weight: 400;
}

button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button.assistir {
    color: var(--black);
    background-color: var(--text);
}

button.informações {
    color: white;
    margin-left: 10px;
    background-color: rgba(109, 109, 110, 0.6);
}

button.assistir:hover {
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

button.informações:hover {
    background-color: rgba(109, 109, 110, 0.4);
    cursor: pointer;
}

.idade {
    margin-left: auto;
    width: 130px;
    height: 45px;
    background-color: rgba(51,51,51,.6);
    position: relative;
    top: -382px;
    border: solid #DCDCDC;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.idade > p {
    display: inline-block;
    padding: 4px;
    width: 42px;
    text-align: center;
    color: white;
    background-color: green;
    position: relative;
    top: 2px;
    left: 20px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 1.5em;
}
.continuar-assistindo {
    position: relative;
    top: -300px;
    color: white;
    margin-left: 60px;
    font-size: 1.6vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    font-weight: bold;
    
}

.swiper {
    position: relative;
    top: -280px;
    width: 100%;
    height: 100%;
    transition: .3s ease all;
  }
  
  .swiper-wrapper {
      margin-left: 60px;
      margin-bottom: 40px;
  }

  img.filme {
      width: 100%;
      height: auto;
      object-fit: cover;
      cursor: pointer;
      border-radius: 5px;
  }

  footer {
      height: 250px;
      width: 1100px;
      background-color: aqua;
      margin-top: -200px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 75px 0px 75px;
  }

  .opções {
      display: flex;
      justify-content: space-between;
  }

  .social {
      margin-bottom: 15px;
  }

  .fa-brands{
      margin-right: 10px;
  }