/* Criando variáveis */

:root {
    --red: rgb(215, 38, 45);
    --black: rgb(20, 20, 20);
    --text: rgb(229, 229, 229);
}

/* Resetando o CSS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

header {
    z-index: 2;
    display: flex;
    height: 68px;
    align-items: center;
    padding: 0 60px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    position: sticky;   
    top: 0;
    transition: 0.5s ease all;
}

header.active {
    z-index: 2;
    transition: 0.5s ease all;
    background-color: var(--black);
}

.background {
    background-image: url(../images/background-top-sombra.png);
    position: relative;
    top: -68px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
    display: flex;
}

img#logo-netflix {
    width: 92.5px;
    margin-right: 25px;
}

#menu-primario {
    display: flex;
    list-style-type: none;
    font-size: 14px;
}

.menu {
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    transition: 0.4s;
}
.menu:hover {
    color: #b3b3b3;
}

nav#menu-secundario {
    display: flex;
    align-items: center;
    margin-left: auto;   
}

header .fa-solid {
    margin-right: 20px;
}

.user {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: 5px;
    border-radius: 3px;
    text-decoration: none;
}

.arrow {
    transition: all 0.3s ease;
}

.user:hover .arrow {
    transform: rotate(180deg);
}

#info-background {
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    max-width: 500px;
    height: 500px;
}

h2.titulo {
    color: var(--text);
    margin: 20px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    font-weight: bold;
}

h3.descrição {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    font-weight: 400;
}

button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button.assistir {
    color: var(--black);
    background-color: var(--text);
}

button.informações {
    color: white;
    margin-left: 10px;
    background-color: rgba(109, 109, 110, 0.6);
}

button.assistir:hover {
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

button.informações:hover {
    background-color: rgba(109, 109, 110, 0.4);
    cursor: pointer;
}

.idade {
    margin-left: auto;
    width: 130px;
    height: 45px;
    background-color: rgba(51,51,51,.6);
    position: relative;
    top: -382px;
    border: solid 5px #f0f0f0;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.idade > p {
    display: inline-block;
    padding: 4px;
    width: 42px;
    text-align: center;
    color: white;
    background-color: green;
    position: relative;
    top: 2px;
    left: 20px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 1.5em;
}
.continuar-assistindo {
    position: relative;
    top: -300px;
    color: white;
    margin-left: 60px;
    font-size: 1.6vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    font-weight: bold;
    
}

.swiper {
    position: relative;
    top: -280px;
    width: 100%;
    height: 100%;
    transition: .3s ease all;
  }
  
  .swiper-wrapper {
      margin-left: 60px;
      margin-bottom: 40px;
  }

  img.filme {
      width: 100%;
      height: auto;
      object-fit: cover;
      cursor: pointer;
      border-radius: 5px;
  }

  footer {
      height: 260px;
      max-width: 1100px;
      margin-top: -250px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 75px 0px 75px;
  }

  .opções {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
  }

  .social {
      margin-bottom: 15px;
  }

  .fa-brands{
      margin-right: 10px;
  }

  .bar {
      list-style-type: none;
  }

  .bar-li {
      margin-bottom: 10px;
      font-size: 13px;
      color: gray;
      cursor: pointer;
      transition: 0.5s ease all;
  }

  .bar-li:hover {
    text-decoration: underline;
    transition: 0.5s ease all;
  }

  .codigo {
      padding: 6.5px;
      color: gray;
      background-color: rgba(0, 0, 0, 0);
      border: solid 1px gray;
      margin-bottom: 20px;
      cursor: pointer;
  }

  .codigo:hover {
      color: white;
  }

  footer > p {
      color: gray;
      font-size: 12px;
  }

  .htmlCssSubMenu {
      position: absolute;
      width: 170px;
      height: 220px;
      top: 50px;
      right: 85px;
      display: none;
  }

  .user:hover .htmlCssSubMenu {
      display: block; 
  }

  .sub-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      position: absolute;
      top: 20px;
      right: 0px;
      list-style: none;
      background: rgba(0, 0, 0, 0.9);
      width: 170px;
      height: auto;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
      z-index: 1;      
  }

  .sub-menu li a {
      color: white;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
  }

  span:hover{
      text-decoration: underline;
  }

  .cursorq {
      cursor: pointer;
  }

  .fa-regular {
      width: 32px;
      text-align: center;
      margin-right: 5px;
  }

  .corte {
      border-bottom: solid 1px rgba(128, 128, 128, 0.5);
      width: 100%;
    
  }

  .detalhe-sub-menu {
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: var(--text);
      transform: rotate(45deg);
      top: 13px;
      right: 25px
  }